{%  extends 'parent-page1.html' %}

      {%  block title %}
            Sign up
      {%  endblock %}

        {%  block content %}
<link rel="stylesheet" href="../static/signup.css" />

 <div class="signup-container2">
          <div class="signup-container3">
            <h1 class="signup-hero-heading heading1">Sign up</h1>
            <div class="signup-container4">
              <img
                alt="image"
                src="../static/used_images/man_icon.png"
                class="signup-image"
              />
            </div>
            <div class="signup-container5">
              <form class="signup-form">
                <input
                  type="email"
                  placeholder="E-mail"
                  class="signup-textinput input"
                />
                <input
                  type="password"
                  placeholder="Password"
                  class="signup-textinput1 input"
                />
               
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Camera ID
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">1</button>
                    <button class="dropdown-item" type="button">2</button>
                    <button class="dropdown-item" type="button">3</button>
                    <button class="dropdown-item" type="button">4</button>
                  </div>
                </div>
                <a
                  href="signup"
                  class="signup-hero-button1 button buttonFilled1"
                >
                  Register
                </a>
              </form>
            </div>
          </div>
        </div>
        {%  endblock %}