{%  extends 'parent-page1.html' %}

      {%  block title %}
            Sign up
      {%  endblock %}

        {%  block content %}
<link rel="stylesheet" href="../static/signup.css" />

 <div class="signup-container2">
          <div class="signup-container3">
            <h1 class="signup-hero-heading heading1">Sign up</h1>
            <div class="signup-container4">
              <img
                alt="image"
                src="../static/used_images/man_icon.png"
                class="signup-image"
              />
            </div>
            <div class="signup-container5">
              <form class="signup-form">
                <input
                  type="email"
                  placeholder="E-mail"
                  class="signup-textinput input"
                />
                <input
                  type="password"
                  placeholder="Password"
                  class="signup-textinput1 input"
                />
               
                <div
                  data-thq="thq-dropdown"
                  class="signup-thq-dropdown list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="signup-dropdown-toggle"
                  >
                    <span class="signup-text">Camera ID</span>
                    <div
                      data-thq="thq-dropdown-arrow"
                      class="signup-dropdown-arrow"
                    >
                      <svg viewBox="0 0 1024 1024" class="signup-icon">
                        <path d="M426 726v-428l214 214z"></path>
                      </svg>
                    </div>
                  </div>
                  <ul data-thq="thq-dropdown-list" class="signup-dropdown-list">
                    <li
                      data-thq="thq-dropdown"
                      class="signup-dropdown list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="signup-dropdown-toggle1"
                      >
                        <input type="checkbox" name="1" />
                        <span class="signup-text01">1</span>
                      </div>
                    </li>
                    <li
                      data-thq="thq-dropdown"
                      class="signup-dropdown1 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="signup-dropdown-toggle2"
                      >
                        <input type="checkbox" name="1" />
                        <span class="signup-text02">2</span>
                      </div>
                    </li>
                    <li
                      data-thq="thq-dropdown"
                      class="signup-dropdown2 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="signup-dropdown-toggle3"
                      >
                        <input type="checkbox" name="1" />
                        <span class="signup-text03">3</span>
                      </div>
                    </li>
                    <li
                      data-thq="thq-dropdown"
                      class="signup-dropdown3 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="signup-dropdown-toggle4"
                      >
                        <input type="checkbox" name="1" />
                        <span class="signup-text04">4</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <a
                  href="signup"
                  class="signup-hero-button1 button buttonFilled1"
                >
                  Register
                </a>
              </form>
            </div>
          </div>
        </div>
        {%  endblock %}