{%  extends 'parent-page2.html' %}

      {%  block title %}
           Sign in
      {%  endblock %}

        {%  block content %}
<link rel="stylesheet" href="../static/signin.css" />
<div class="signin-container2">
          <div class="signin-container3">
            <h1 class="signin-hero-heading heading1">Sign in</h1>
            <div class="signin-container4">
              <img
                alt="image"
            src="../static/used_images/man_icon.png"
                class="signin-image"
              />
            </div>
            <div class="signin-container5">


               <!-- form -->
              <form method="POST" class="signin-form">
                {{ form.hidden_tag() }}

                {{ form.username(class="signin-textinput input", placeholder="Username") }}
                {{ form.password(class="signin-textinput1 input", placeholder="Password") }}

                <div class="checkbox mb-3">
                  <h6>Do not have an account?</h6>
                  <a class="btn btn-sm btn-secondary" href="{{ url_for('signup') }}" style=" display: block;"> Register</a>
               </div>
                {{ form.submit(class="signin-hero-button1 button buttonFilled1") }}
              </form>
            </div>
          </div>
        </div>
        <div class="signin-container6"></div>
      {%  endblock %}


