
main {
    background-color: #2C3845;
  }
  
  
  
  table {
    display: block;
    width: 100%;
   
  }
  
  tr, td, tbody {
    display: block;
  }
  
  thead {
    display: none;
  }
  
  tr {
    padding-bottom: 10px;
  }
  
  td {
    padding: 10px 10px 0;
    text-align: center;
   
  }
  
  
  th {
    text-align: left;
    font-weight: 700;
  }
  
  thead th {
    background-color: #202932;
    color: #fff;
    border: 1px solid #202932;
  }

  .show {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #ed6a5a;
    width: 40%;
  }
  
  .show {
    padding-bottom: 20px;
    border-bottom: 1px solid #28333f;
  }
  .show:before {
    display: none;
  }
  
  
  @media (min-width: 460px) {
    td {
      text-align: left;
    }
    td:before {
      display: inline-block;
      text-align: right;
      width: 140px;
    }
  
    .show {
      padding-left: 160px;
    }
  }
  
  
  
  @media (min-width: 720px) {
    table {
      display: table;
    }
  
    tr {
      display: table-row;
    }
  
    td, th {
      display: table-cell;
      padding: 10px;
    }
  
    tbody {
      display: table-row-group;
    }
  
    thead {
      display: table-header-group;
    }
  
    
  
    td {
      border: 1px solid #28333f;
    }
    td:before {
      display: none;
    }
  
    
  
    tr:nth-child(2n+2) td {
      background-color: #242e39;
    }
  
  
  
    .show {
      padding: 10px;
      text-align: center;
  
    }
  }  