.livestream-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.livestream-container2 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.livestream-hero {
  width: auto;
  height: auto;
  align-items: center;
}
.livestream-max-width {
  width: 1684px;
  align-items: stretch;
  margin-right: 0px;
  padding-right: 1px;
}
.livestream-content-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  max-width: auto;
  min-width: auto;
  align-items: flex-start;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.livestream-text {
  width: auto;
  height: auto;
  font-size: 80px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.livestream-text01 {
  color: #c12727;
}
.livestream-features-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.livestream-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.livestream-feature:hover {
  animation:  pulse 2s infinite;
}
.livestream-icon {
  fill: #62BF77;
  width: auto;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.livestream-text04 {
  color: var(--dl-color-grays-gray60);
}
.livestream-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.livestream-feature1:hover {
  animation:  pulse 2s infinite;
}
.livestream-icon02 {
  fill: #62BF77;
  width: auto;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.livestream-text05 {
  color: var(--dl-color-grays-gray60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.livestream-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.livestream-feature2:hover {
  animation:  pulse 2s infinite;
}
.livestream-icon04 {
  fill: #62BF77;
  width: auto;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.livestream-text06 {
  color: var(--dl-color-grays-gray60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.livestream-image-container {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.livestream-video {
  width: auto;
  height: 400px;
  margin-left: 0px;
  margin-bottom: 5px;
}
.livestream-video1 {
  width: auto;
  height: 400px;
  margin-left: 0px;
}
.livestream-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.livestream-text14 {
  width: 30%;
  font-size: 20px;
  text-align: left;
}

@media(max-width: 1600px) {
  .livestream-max-width {
    width: 100%;
    position: relative;
    margin-right: 300px;
  }
  .livestream-content-container {
    width: 100%;
  }
  .livestream-image-container {
    width: 831px;
    height: 1132px;
  }
  .livestream-video {
    width: 785px;
  }
  .livestream-video1 {
    width: 777px;
  }
}
@media(max-width: 991px) {
  .livestream-max-width {
    flex-direction: column;
  }
  .livestream-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .livestream-text {
    width: 100%;
  }
}

