.signup-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.signup-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.signup-container2 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.signup-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #5d576b;
  align-items: center;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.signup-hero-heading {
  color: #000000;
  width: 701px;
  max-width: 800px;
  text-align: center;
  transition: 0.3s;
}
.signup-hero-heading:hover {
  animation: pulse 2s infinite;
}
.signup-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup-image {
  width: auto;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.signup-image:hover {
  animation: pulse 2s infinite;
}
.signup-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 332px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.signup-form {
  width: 496px;
  height: 332px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signup-textinput {
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 30px;
}
.signup-textinput1 {
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 30px;
}
.signup-textinput2 {
  border-radius: var(--dl-radius-radius-radius8);
}

.signup-hero-button1 {

  margin-top: 50px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  text-align:center;
 justify-content: center;
  align-items: center;
}
.signup-hero-button1:hover {
  animation: pulse 2s infinite;
  color:#FFFF;
}
.signup-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.signup-link {
  display: contents;
}
.signup-image1 {
  width: auto;
  height: 132px;
  object-fit: cover;
  text-decoration: none;
}
.signup-text05 {
  height: 168px;
  font-size: 3rem;
  text-align: center;
}
.signup-text10 {
  color: #21d03d;
}
