
.signup-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.signup-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.signup-container2 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.signup-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #5d576b;
  align-items: center;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.signup-hero-heading {
  color: #000000;
  width: 701px;
  max-width: 800px;
  text-align: center;
  transition: 0.3s;
}
.signup-hero-heading:hover {
  animation: pulse 2s infinite;
}
.signup-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup-image {
  width: auto;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.signup-image:hover {
  animation: pulse 2s infinite;
}
.signup-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 332px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.signup-form {
  width: 496px;
  height: 332px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signup-textinput {
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 30px;
}
.signup-textinput1 {
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 30px;
}
.signup-textinput2 {
  border-radius: var(--dl-radius-radius-radius8);
}
.signup-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.signup-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.signup-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.signup-dropdown-arrow {
  transition: 0.3s;
}
.signup-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.signup-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.signup-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.signup-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.signup-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.signup-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.signup-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.signup-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.signup-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.signup-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.signup-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.signup-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.signup-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.signup-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.signup-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.signup-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.signup-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.signup-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.signup-hero-button1 {

  margin-top: 50px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  text-align:center;
 justify-content: center;
  align-items: center;
}
.signup-hero-button1:hover {
  animation: pulse 2s infinite;
}
.signup-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.signup-parentimgcont {
  width: 100%;
  height: 326px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup-imgtxtcont {
  width: 455px;
  height: 312px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signup-link {
  display: contents;
}
.signup-image1 {
  width: auto;
  height: 132px;
  object-fit: cover;
  text-decoration: none;
}
.signup-text05 {
  height: 168px;
  font-size: 3rem;
  text-align: center;
}
.signup-text10 {
  color: #21d03d;
}
.signup-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  box-shadow: 5px 5px 8px 5px #8c8888;
  align-items: flex-end;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-500);
  border-style: groove;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.signup-text12 {
  width: 30%;
  font-size: 20px;
  text-align: left;
}
.signup-icon-group {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.signup-link1 {
  display: contents;
}
.signup-icon2 {
  fill: var(--dl-color-primary-500);
  width: 10%;
  height: auto;
  transition: 0.3s;
  margin-right: 0px;
  text-decoration: none;
}
.signup-icon2:hover {
  cursor: pointer;
}
.signup-link2 {
  display: contents;
}
.signup-icon4 {
  fill: var(--dl-color-primary-100);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.signup-link3 {
  display: contents;
}
.signup-icon6 {
  fill: var(--dl-color-primary-100);
  width: 7%;
  height: auto;
  transition: 0.3s;
  text-decoration: none;
}
.signup-icon6:hover {
  cursor: pointer;
}
@media(max-width: 1600px) {
  .signup-textinput2 {
    margin-bottom: 30px;
  }
  .signup-dropdown-toggle {
    width: auto;
    background-color: #D9D9D9;
  }
  .signup-text {
    color: var(--dl-color-custom-neutral-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .signup-dropdown-list {
    display: none;
  }
  .signup-text01 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 50px;
  }
  .signup-text02 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 50px;
  }
  .signup-text03 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 50px;
  }
  .signup-text04 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 50px;
  }
}
@media(max-width: 991px) {
  .signup-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .signup-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .signup-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .signup-headnav {
    display: none;
  }
  .signup-logregbtn {
    display: none;
  }
  .signup-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .signup-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .signup-header {
    padding: var(--dl-space-space-unit);
  }
  .signup-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .signup-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .signup-text12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
